@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Parisienne&display=swap');

:root{
    --color-header: #CF2402;
    --color-2: #8C1A00;
    --theme-button-color: #09BD79;
}

.body{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header{
    background-color:var(--color-header);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav{
    display: flex;
    justify-content: center;
    gap:200px;
}

.nav-options{
    display: flex;
    gap: 20px;
}

.nav-option:hover{
    opacity: 0.7;
    cursor: pointer;
}

.nav-form{
    display: flex;
    gap: 10px;
}

.nav-form-input{
    background-color: var(--color-2);
    color: inherit;
    border: none;
    border-radius: 3px;
}

.nav-form-input:focus{
    outline: none;
    border-bottom: 2px solid white;
    background-color: var(--color-header);
}

.nav, .nav-options, .nav-form{
    align-items: center;
}

.submit-button{
    height: 25px;
    font-family: inherit;
    font-weight: inherit;
    background-color: white;
    color: var(--color-header);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.theme-button{
    height: 25px;
    width: 25px;
    background-color: var(--theme-button-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
