#contenedor{
    width: 50%;
    background-color: bisque;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/*
h1{
    margin-bottom: 0px;
}*/

h1{
    text-align: right;
    transition-property: opacity;
    transition-duration: 0.4s;
}

h1:hover{
    opacity: 0.5;
}