body{
    background-color: #efc89e;
}

div{
    overflow-y: hidden;
    overflow-y: scroll;
    height: 200px;
    width: 50%;
    overflow-x: hidden;
    overflow-x: scroll;
}

p{
    background-color: #848475;
    color: antiquewhite;
    padding: 10px;
    width: 900px;
}