:root{
    --color1: #8a1da9;
    --color2: #edde9b;
    --color3: #a0dc4d;
    --color4: #589920;
    --color5: #40b499;
    --color6: #dbd78b;
    --color7: #616905;
    --fuente1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --funte2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --tamanio-fuente: 20px;
}

body{
    background: linear-gradient(to bottom,var(--color2),var(--color6));
}

.contenedor{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color4);
    border-radius: 1%;
    padding: 5px;
    font-family: var(--fuente1);
    font-size: var(--tamanio-fuente);
    color: var(--color5);
    font-weight: bold;
}

button{
    width: 50px;
    height: 30px;
    margin-left: 60px;
    margin-top: 10px;
}

#boton1{
    background-color: var(--color3);
}

#boton2{
    background-color: var(--color1);
}

#boton3{
    background-color: var(--color7);
}

