.contenedor-principal{
    width: 200%;
    min-height: 300px;
    background-image: url(foto.jpg);
    height: 1500px;
    padding: 5px;
}

.contendor{
    width: 300px;
    height: 200px;
}

#c1{
    background-color: #a71702;
}

#c2{
    background-color: rgba(252, 51, 14,0.5);
    padding: 5px;
    color: beige;
}

#c3{
    background-color: hsla(279, 100%, 41%,0.8);
    color: azure;
    padding: 5px;
}

#c4{
    mix-blend-mode: color-burn;
    background-color: #444937;
}

#c5{
    mix-blend-mode: darken;
    background-color: #1a7d3c;
}
