:root{
    color: beige;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}


.flex-container{
    display: flex;
    height: 400px;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.flex-item{
    background-color: #c0e101;
    flex-basis: 100px;
    height: 100px;
    line-height: 100px;
}

#item-2{
    align-self: flex-end;
}

#item-3{
    align-self: flex-start;
}

.flex-container-2{
    margin-top: 50px;
    gap: 10px;
    height: 500px;
    align-items: center;
    display: flex;
}

.flex-item-b{
    background-color: #91337d;
    height: 100px;
    line-height: 100px;
}

#item-b1{
    flex-basis: 40px;
    flex-grow: 0.2;
    order: 3;
}

#item-b2{
    flex-basis: 50px;
    flex-grow: 0.4;
    order: 4;
    /*flex-shrink: 2;*/
}

[color="rojo"]{
    background-color: #e33723;
}

#item-b3{
    flex-basis: 30px;
    flex-grow: 0.1;
    order: 1;
}

#item-b4{
    flex-basis: 20px;
    flex-grow: 0.1;
    order: 5;
}

#item-b5{
    flex-basis: 15px;
    flex-grow: 0.1;
    order: 2;
}

.flex-container-3{
    display: flex;
    gap: 30px;
}

.flex-item-c{
    width: 500px;
    height: 100px;
    background-color:#548aa6;
}

#item-c1{
    flex-shrink: 5;
}

#item-c2{
    flex-shrink: 0.8;
}

[color="golden-mist"]{
    background-color: #d3c991;
    color: black;
}





