.contenedor-principal{
    width: 70%;
    height: 500px;
    background-color: #910d31;
    background-image: url("fondo.jpg");
    background-blend-mode:screen;
    background-attachment: fixed;
}

/*Para el color #c1d27b, queda muy bien luminosity*/

/*
Valores para blend-mode: color, color-burn, color-dodge, darken, difference, exclusion, hard light, hue
lighten, luminosity, multiply, normal, overlay, saturation, screen, soft light
*/