@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes juntar {
    0%{
        letter-spacing: 100px;
        opacity: 0;
    }
    50%{
        letter-spacing: 10px;
        opacity: 1;
        filter: brightness(1);
    }
    80%{
        filter: brightness(3);
    }
    100%{
        filter: brightness(1);
    }
}

@keyframes primer-nombre {
    0%{
        transform: translateX(-700px);
        opacity: 0;
    }
    50%{
        transform: translateX(0px);
        opacity: 1;
    }
    51%{
        transform: rotate(5deg);
    }
    56%{
        transform: rotate(10deg);
    }
    61%{
        transform: rotate(15deg);
    }
    67%{
        transform: rotate(20deg);
    }
}

@keyframes segundo-nombre {
    0%{
        filter: blur(1px);
        text-decoration: none;
    }
    50%{
        filter: blur(20px);
        text-decoration: none;
    }
}

@keyframes apellido {
    0%{
        transform: translateX(700px);
        opacity: 0;
    }
    50%{
        transform: translateX(0px);
        opacity: 1;
    }
    51%{
        transform: rotate(-5deg);
    }
    56%{
        transform: rotate(-10deg);
    }
    61%{
        transform: rotate(-15deg);
    }
    67%{
        transform: rotate(-20deg);
    }
}

@keyframes estirarYAclarar {
    0%{
        clip-path: polygon(0 0, 0 40%, 40% 0);
        filter: brightness(0);
    }
    5%{
        clip-path: polygon(0 0, 0 45%, 45% 0);
        filter: brightness(0);
    }
    10%{
        clip-path: polygon(0 0, 0 50%, 50% 0);
        filter: brightness(0);
    }
    15%{
        clip-path: polygon(0 0, 0 55%, 55% 0);
        filter: brightness(0);
    }
    20%{
        clip-path: polygon(0 0, 0 60%, 60% 0);
        filter: brightness(0);
    }
    25%{
        clip-path: polygon(0 0, 0 65%, 65% 0);
        filter: brightness(0);
    }
    30%{
        clip-path: polygon(0 0, 0 70%, 70% 0);
        filter: brightness(0);
    }
    35%{
        clip-path: polygon(0 0, 0 75%, 75% 0);
        filter: brightness(0);
    }
    40%{
        clip-path: polygon(0 0, 0 80%, 80% 0);
        filter: brightness(0);
    }
    45%{
        clip-path: polygon(0 0, 0 85%, 85% 0);
        filter: brightness(0);
    }
    50%{
        clip-path: polygon(0 0, 0 90%, 90% 0);
        filter: brightness(0);
    }
    55%{
        clip-path: polygon(0 0, 0 95%, 95% 0);
        filter: brightness(.1);
    }
    60%{
        clip-path: polygon(0 0, 0 100%, 100% 0);
        filter: brightness(.2);
    }
    65%{
        clip-path: polygon(100% 0, 100% 12%, 12% 100%, 0 100%, 0 0);
        filter: brightness(.3);
    }
    70%{
        clip-path: polygon(100% 0, 100% 24%, 24% 100%, 0 100%, 0 0);
        filter: brightness(.4);
    }
    75%{
        clip-path: polygon(100% 0, 100% 36%, 36% 100%, 0 100%, 0 0);
        filter: brightness(.5);
    }
    80%{
        clip-path: polygon(100% 0, 100% 48%, 48% 100%, 0 100%, 0 0);
        filter: brightness(.6);
    }
    85%{
        clip-path: polygon(100% 0, 100% 60%, 60% 100%, 0 100%, 0 0);
        filter: brightness(.7);
    }
    90%{
        clip-path: polygon(100% 0, 100% 75%, 75% 100%, 0 100%, 0 0);
        filter: brightness(.8);
    }
    95%{
        clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
        filter: brightness(.9);
    }
    100%{
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
        filter: brightness(1);
    }

    
}


:root{
    --color-fondo: #FEFFF0;
    --color-fondo-estilo-2:#4D4D4D;
    --color-fondo-proyecto:#F9FFA1;
    --color-fondo-proyecto-estilo-2:#737373;
    --color-principal:#FF5E52;
    --color-principal-2:#CF3F2B;
    --color-principal-estilo-2:#A9FFA1;
    --color-principal-2-estilo-2:#8AFF80;
    --color-boton:#F2F527;
    --color-boton-2:#B3B51F;
    --color-boton-estilo-2:#1AEDED;
    --color-boton-2-estilo-2:#0AC2C2;
}

body{
    background-color: var(--color-fondo)
}

.letra-orbitron{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.letra-roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.letra-quintessential{
    font-family: "Quintessential", serif;
    font-weight: 700;
    font-style: normal;
}

.letra-parisienne{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}
/* HEADER */

header{
    position: relative;
    font-weight: 700;
    font-style: normal;
    color: var(--color-principal);
}

.contenedor-boton-estilos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 400px;
}



.boton-tema{
    background-image: radial-gradient(var(--color-boton),var(--color-boton-2));
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.boton-tema:hover{
    filter: brightness(1.1);
}

.pincel-svg{
    width: 30px;
}

.lapiz-svg{
    width: 30px;
}
/*
h1{
    text-decoration: underline;
    text-align: center;
    letter-spacing: 10px;
    font-size: 3em;
    animation-name: juntar;
    animation-duration: 1s;
}*/

.nombre-completo{
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}



.nombre-completo-roboto{
    letter-spacing: 8px;
}



.nombre-completo-quintessential{
    letter-spacing: 10px;
}



.nombre-completo-parisienne{
    font-size: 5rem;
}



.primer-nombre{
    animation-name: primer-nombre;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.segundo-nombre{
    animation-name: segundo-nombre;
    animation-duration: 1s;
}

.apellido{
    animation-name: apellido;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@media screen and (max-width: 1000px){
    .contenedor-boton-estilos{
        gap:300px;
    }
    .nombre-completo{
        font-size: 3.5rem;
        gap: 50px;
    }
    .nombre-completo-roboto{
        letter-spacing: 8px;
    }
    .nombre-completo-quintessential{
        letter-spacing: 10px;
    }
    .nombre-completo-parisienne{
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px){
    .contenedor-boton-estilos{
        gap:200px;
    }
    .nombre-completo{
        font-size: 3rem;
        gap: 20px;
    }
    .nombre-completo-roboto{
        letter-spacing: 6px;
    }
    .nombre-completo-quintessential{
        letter-spacing: 5px;
    }
    .nombre-completo-parisienne{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 700px){
    .contenedor-boton-estilos{
        gap:200px;
    }
    .nombre-completo{
        font-size: 1.5rem;
        gap: 20px;
        text-decoration: underline;
    }
    .nombre-completo-roboto{
        letter-spacing: 4px;
    }
    .nombre-completo-quintessential{
        letter-spacing: 5px;
    }
    .nombre-completo-parisienne{
        font-size: 1.8rem;
    }
}

/* MAIN*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

/*Sobre mí*/

.sobre-mi{
    width: 50%;
}
/*
.sobre-mi > h2{
    margin-bottom: 0;
    color: var(--color-principal);
}*/

h2{
    margin-bottom: 0;
    color: var(--color-principal);
    text-align: left;
}
/*
.sobre-mi > div{
    border-top: 3px solid var(--color-principal);
}*/

.contenedor-parrafo{
    border-top: 3px solid var(--color-principal);
}

.foto-personal{
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    clip-path: polygon(0 0, 0 40%, 40% 0);
    filter: brightness(0);
    margin-top: 5px;
}

.estirar-foto{
    animation-name: estirarYAclarar;
    animation-duration: 1s;
    clip-path: none;
    filter: brightness(1);
}
/*
.sobre-mi p{
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: justify;
}*/

.sobre-mi-parrafo{
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: justify;
    font-weight: 700;
}

.palabra-clave{
    color: var(--color-principal);
}

@media screen and (max-width: 1200px){
    .sobre-mi{
        width: 75%;
    }
}

@media screen and (max-width: 1000px){
    .sobre-mi{
        width: 95%;
    }
}

/* Habilidades */

.contenedor-habilidades{
    border-top-width: .5px;
    border-top-style: solid;
    padding: 10px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right,var(--color-principal),var(--color-principal-2));
}
/*
.contenedor-habilidades > h3{
    text-align: center;
    color: var(--color-fondo);
}*/

.titulo-habilidades{
    text-align: center;
    color:var(--color-fondo);
}

.habilidades{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    gap:10px;
}

.logo-habilidad{
    width: 40px;
    filter: brightness(.1);
    transition-duration: .5s;
    transition-property: filter, transform;
}

.logo-habilidad:hover{
    filter: brightness(1.1);
    transform: scale(1.5,1.5);
}
/*
.logo-spring-boot,.logo-react{
    transition-duration: .5s;
    transition-property: background-color,border-radius;
}*/

.logo-spring-boot:hover,.logo-react:hover{
    background-color: var(--color-fondo-estilo-2);
    border-radius: 20px;
}

/* PROYECTOS */

.proyectos{
    margin-top: 100px;
    width: 50%;
}

.proyectos > div{
    padding-top: 30px;
}

.proyecto{
    border-bottom: 1px solid var(--color-principal);
    padding: 5px;
    background-color: var(--color-fondo);
    background-image: linear-gradient(to right, var(--color-fondo),transparent);
    transition-property: background-color, transform;
    transition-duration: 1s;
    border-top-right-radius: 10px;
    font-weight: 700;
}

.proyecto:hover{
    background-color: var(--color-fondo-proyecto);
    transform: translateY(-5px);
}
/*
.proyecto > h4{
    color: var(--color-principal);
}*/

.titulo-proyecto{
    color: var(--color-principal);
}
/*
.proyectos > div{
    border-top: 3px solid var(--color-principal);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}*/

.contenedor-proyectos{
    border-top: 3px solid var(--color-principal);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

/*
.proyecto-6{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.proyecto-5{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}

.proyecto-4{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

.proyecto-3{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

.proyecto-2{
    grid-column: 1/span 1;
    grid-row:3/span 1;
}*/

.tecnologias-usadas{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.tecnologias-usadas > img{
    width: 40px;
}

.enlace{
    background-color: var(--color-principal);
    padding: 5px;
    border-radius: 5px;
    color: var(--color-fondo);
    text-decoration: none;
}

.enlace-numerado{
    background-color: var(--color-principal);
    padding: 5px;
    border-radius: 5px;
    color: var(--color-fondo);
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .proyectos{
        width: 100%;
    }
    .contenedor-proyectos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* FOOTER */

footer{
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 50px;
    align-items: center;
    background-image: linear-gradient(to right, var(--color-principal),var(--color-principal-2));
    padding: 20px;
    color: var(--color-fondo);
    font-weight: 700;
}

.logo-contacto{
    width: 40px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: .5s;
}

.logo-contacto:hover{
    transform: scale(1.5,1.5);
}

/* COLORES - TEMAS*/

/*Tema 1*/
.body-color-1{
    background-color: var(--color-fondo);
}

.letras.color-1{
    color: var(--color-principal);
}

.bordes-color-1{
    border-color: var(--color-principal);
}

/*tema 2*/
.body-color-2{
    background-color: var(--color-fondo-estilo-2);
}

.boton-tema-estilo-2{
    background-image: radial-gradient(var(--color-boton-estilo-2),var(--color-boton-2-estilo-2));
}

.letras-color-2{
    color: var(--color-principal-estilo-2);
}

.texto-estilo-2{
    color:white;
}

.fondo-color-2{
    background-image: linear-gradient(to right, var(--color-principal-estilo-2),var(--color-principal-2-estilo-2));
}

.proyecto-estilo-2{
    background-color: var(--color-fondo-estilo-2);
    background-image: linear-gradient(to right, var(--color-fondo-estilo-2),transparent);
    transition-property: background-color, transform;
    transition-duration: 1s;
    border-top-right-radius: 10px;
    font-weight: 700;
}

.proyecto-estilo-2:hover{
    background-color: var(--color-fondo-proyecto-estilo-2);
    transform: translateY(-5px);
}

.bordes-color-2{
    border-color: var(--color-principal-estilo-2);
}

.letras-fondo-2{
    color: var(--color-fondo-estilo-2);
}

.enlace-estilo-2{
    background-color: var(--color-principal-estilo-2);
    color: var(--color-fondo-estilo-2);
}

.enlace-numerado-estilo-2{
    background-color: var(--color-principal-estilo-2);
    color:var(--color-fondo-estilo-2);
}


