@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes brillar {
    0%{
        filter: brightness(1);
    }
    50%{
        filter: brightness(2);
    }
    0%{
        filter: brightness(1);
    } 
}

@keyframes juntar {
    0%{
        letter-spacing: 100px;
        opacity: 0;
    }
    50%{
        letter-spacing: 10px;
        opacity: 1;
        filter: brightness(1);
    }
    80%{
        filter: brightness(3);
    }
    100%{
        filter: brightness(1);
    }

    
}

:root{
    --color-fondo: #FEFFF0;
    --color-fondo-proyecto:#FDFFE0;
    --color-principal:#FF5E52;
    --color-principal-2:#CF3F2B;
    --color-boton:#F2F527;
    --color-boton-2:#B3B51F;
}

body{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--color-fondo)
}
/* HEADER */

header{
    position: relative;
    font-weight: 700;
    font-style: normal;
    color: var(--color-principal);
}

.contenedor-boton-estilos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 400px;
}

.boton-tema{
    background-image: radial-gradient(var(--color-boton),var(--color-boton-2));
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.boton-tema:hover{
    filter: brightness(1.1);
}

.pincel-svg{
    width: 30px;
}

.lapiz-svg{
    width: 30px;
}

h1{
    text-decoration: underline;
    text-align: center;
    letter-spacing: 10px;
    font-size: 3em;
    animation-name: juntar;
    animation-duration: 1s;
}

/* MAIN*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

/*Sobre mí*/

.sobre-mi{
    width: 50%;
}
/*
.sobre-mi > h2{
    margin-bottom: 0;
    color: var(--color-principal);
}*/

h2{
    margin-bottom: 0;
    color: var(--color-principal);
    text-align: left;
}

.sobre-mi > div{
    border-top: 3px solid var(--color-principal);
}

.foto-personal{
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.sobre-mi p{
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: justify;
}

.palabra-clave{
    color: var(--color-principal);
}

/* Habilidades */

.contenedor-habilidades{
    border-top: .5px solid var(--color-principal);
    padding: 10px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right,var(--color-principal),var(--color-principal-2));
}

.contenedor-habilidades > h3{
    text-align: center;
    color: var(--color-principal);
    color: var(--color-fondo);
}

.habilidades{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    gap:10px;
}

.logo-habilidad{
    width: 40px;
    filter: brightness(.1);
    transition-duration: .5s;
    transition-property: filter;
}

.logo-habilidad:hover{
    filter: brightness(1.1);
}

/* PROYECTOS */

.proyectos{
    margin-top: 100px;
    width: 50%;
}

.proyectos > div{
    padding-top: 30px;
}

.proyecto{
    border-bottom: 1px solid var(--color-principal);
    padding: 5px;
}

.proyecto:hover{
    background-image: linear-gradient(to right, var(--color-fondo), var(--color-fondo-proyecto));
}

.proyecto > h4{
    color: var(--color-principal);
}

.proyectos > div{
    border-top: 3px solid var(--color-principal);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.proyecto{
    font-weight: 700;
}

.proyecto-6{
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.proyecto-5{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}

.proyecto-4{
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

.proyecto-3{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

.tecnologias-usadas{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.tecnologias-usadas > img{
    width: 40px;
}

.enlace-proyecto{
    background-color: var(--color-principal);
    padding: 5px;
    border-radius: 5px;
    color: var(--color-fondo)
}

