body{
    background-color:  #3a3a3b;
    color: aliceblue;
}

input{
    margin-bottom: 30px;
    margin-left: 50px;
}

#boton{
    background-color: #52a709;
    background: linear-gradient(to bottom,#52a709,#07c14c);
    width: 100px;
}

#submit{
    border-style: dotted;
    border-color: #008772;
}

#botonRecarga{
    color: white;
    background-color: #e96a42;
    height: 40px;
}

#botonRecarga2{
    color: white;
    background-color: #0973bc;
    height: 40px;
}

#botonRecarga3{
    color: black;
    background-color: #76ebed;
    height: 40px;
}

#botonRecarga4{
    color: black;
    background-color: #dbc375;
    height: 40px;
}

#botonColorear{
    color: black;
    background-color: #0bcc63;
    height: 40px;
}

#centrado{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom,#eef868,#ffad97);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

textarea{
    resize: none;
    width: 500px;
    height: 300px;
}

